<div class="container">
  <h2 style="text-align: center;">Edit product</h2>
  <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="" name="name" value="{{product.name}}">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Category</label>
      <input type="text" class="form-control" id="cat" placeholder="" name="category" value="{{product.category}}">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" placeholder="" name="price" value="{{product.price}}">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">description</label>
      <input type="text" class="form-control" placeholder="" name="description" value="{{product.description}}">
    </div>
    <div class="mb-3">
      <label class="form-label">Image</label>
      <img src="/product-image/{{product._id}}.jpg" alt="" style="width: 100px;height:auto" id="myImg">
      <input type="file" class="form-control" name="Image" id="myInput">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  const imgElement = document.getElementById('myImg');
  const inputElement = document.getElementById('myInput');

  // add event listener to the img element to trigger the file input
  imgElement.addEventListener('click', () => {
    inputElement.click();
  });

  // add event listener to the file input to change the image
  inputElement.addEventListener('change', (event) => {
    const file = event.target.files[0];
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => {
      imgElement.setAttribute('src', reader.result);
    };
  });
</script>